#REGHero {
    width: auto;
    height: 460px;
    background: #fff;
    padding-top: 82px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-color: #4b4b4b;
    background-blend-mode: overlay;
    
  }

  .Text h1 {
    margin: 0;
    font-size: 56px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }

  @media (max-width: 991px) {
    #REGHero {
      height: auto;
    }
    #REGHero .animated {
      -webkit-animation: none;
      animation: none;
    }
    .Text h1 {
      line-height: 0px !important;
      font-size: 10px;
    }
    
  }

  @media (max-width: 768px) {
    #REGHero {
      height: auto;
    }
     .Text h1 {
      font-size: 35px;
      text-align: center;
    }
  }

  @media (max-width: 575px) {
    #REGHero .Text h1 {
      margin: 0;
      font-size: 25px;
      font-weight: 700;
      line-height: 5em;
    }
  }

  @media (max-width: 464px) {
    #REGHero .Text h1 {
      margin: 0;
      font-size: 25px;
      font-weight: 700;
      line-height: 53px !important;
    }
  }

  @media (max-width: 374px) {
    #REGHero .Text h1 {
      margin: 0;
      font-size: 21px;
      font-weight: 700;
      line-height: 30px;
    }
  }

  @media (max-width: 350px) {
    #REGHero .Text h1 {
      margin: 0;
      font-size: 19px;
      font-weight: 700;
      line-height: 30px;
    }
  }

  
  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
 
  section {
    padding: 60px 0;
    overflow: hidden;
  }
  
  .section-bg {
    background-color: #f9f9fa;
  }
  
  .section-Text {
    text-align: center;
    padding: 30px 0;
    position: relative;
  }
  .section-Text h2 {
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-bottom: 0;
    color: #5f687b;
    position: relative;
    z-index: 2;
  }
  .section-Text span {
    position: absolute;
    top: 30px;
    color: #f0f1f3;
    left: 0;
    right: 0;
    z-index: 1;
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 0;
  }
  .section-Text p {
    margin-bottom: 0;
    position: relative;
    z-index: 2;
  }
 





