.box {
    box-shadow: 1px 1px 1px 1px #ededed;
    border: 2px solid #ededed;
    transition: 0.1s;
}
.box:hover {
    box-shadow: 0px 0px 0px 0px #ededed;
    border-left: 0px solid #ededed;
    transition: 0.1s;
}
.Result_Heading{
    padding: 0px 0px 0px 0px;
    color: #000;
    font-family: 'Montserrat', Sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 25px;
}
.Result_Paragraph {
    color: #3f3f3f;
    font-family: 'Montserrat', Sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
}
h1 span {
    color:#f40202;
    font-family: 'Montserrat',Sans-serif;
    font-size: 40px;
    font-weight: 900;
    font-style: italic;
}

.Results h1 {
    font-family: 'Montserrat',Sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-style: normal;
}
