#header {
    transition: all 0.5s;
    padding: 3px 0;
    height: 4.2em;
  }
  #header.header-scrolled, #header.header-inner-pages {
    background: rgba(0, 0, 0, 0.8);
  }
  .Logo {
      width: auto;
      height: 56px;
  }
  .get-started-btn {
    color: #fb2609;
    border-radius: 4px;
    padding: 7px 23px 8px 23px;
    white-space: nowrap;
    transition: 0.3s;
    font-size: 14px;
    display: inline-block;
    border: 1px solid #fb2609;
    background-color: #fb2609;
    color: white;
    text-decoration: none;
  }
  #header a{
    font-family: 'Montserrat',sans-serif !important;
  }
  .get-started-btn:hover {
    background: #ffffff;
    color: #fb2609;
    border: 1px solid #fb2609;
  }
  @media (max-width: 1200px) {
    .get-started-btn {
      padding: 7px 20px 8px 20px;
    }
  }
  .navbar {
    padding: 0;
  }
  .navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  .navbar li {
    position: relative;
  }
  .navbar a, .navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 17px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    white-space: nowrap;
    transition: 0.3s;
    font-weight: 500;
    text-decoration: none;
    gap: 5px;
  }
  .navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
    color: #fb2609;
  }
  .navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 14px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
  }
  .navbar .dropdown ul li {
    min-width: 200px;
  }
  .navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 16px;
    text-transform: none;
    color: #151515;
    font-weight: 400;
  }
  .navbar .dropdown ul a i {
    font-size: 14px;
  }
  .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
    color: #fb2609
  }
  .navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
  }
  .navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
  }
  .navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
  }
  @media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
      left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
      left: -100%;
    }
  }
  .mobile-nav{
      display: none;
      color: rgb(0, 0, 0);
      font-size: 28px;
      cursor: pointer;
      display: none;
      line-height: 0;
      transition: 0.5s;
  }
  @media (max-width: 1007px) {
    .mobile-nav-toggle {
      display: block;
    }
    .mobile-nav{
        display: block;
    }
    .navbar ul {
      display: none;
    }
    .get-started-btn {  
     display: none; 
    }
  }
  .navbar-mobile {
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: 0.3s;
    z-index: 999;
 
  }
  .navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 25px;
    right: 25px;
  }
  .navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
  }
  .navbar-mobile a, .navbar-mobile a:focus {
    padding: 10px 20px;
    font-size: 15px;
    color: #151515;
  }
  .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
    color: #151515;
    background-color: #ffc451;
  }
  .navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
    margin: 15px;
  }
  .navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  }
  .navbar-mobile .dropdown ul li {
    min-width: 200px;
  }
  .navbar-mobile .dropdown ul a {
    padding: 10px 20px;
    color: #151515;
  }
  .navbar-mobile .dropdown ul a i {
    font-size: 12px;
  }
  .navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
    background-color: #ffc451;
  }
  .navbar-mobile .dropdown > .dropdown-active {
    display: block;
  }

