.Navbar ul li a {
    color: black;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
}
.Navbar ul li a:hover {
   color: #fb2609;
}
.Navbar ul li {
    text-decoration: none;
}
.Navbar ul li a:active {
    color: #fb2609 !important;
    text-decoration: none;
 }
.Navbar {
    background-color: rgb(255, 255, 255);
    z-index: 999;
    position: relative;
    text-decoration: none;
}
.Navbar ul li a span {
    color: #000000 !important;
    gap: 5;
    text-decoration: none;
}
.Navbar ul li a span:hover {
    color: #fb2609 !important;
}
.Navbar ul li a span:active{
    color: #fb2609 !important;
}
 
.nav-link .scrollto .active {
    color: #fb2609 !important;
} 
.nav-link .scrollto {
    color: #000000 !important;
}